body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #3498db;
    color: white;
    padding: 20px 0;
    font-size: 24px;
}

.social-icons {
    margin-top: 10px;
}

.social-icon {
    font-size: 24px;
    color: white;
    margin: 0 10px;
    transition: transform 0.3s ease;
    text-decoration: none;
}

.social-icon:hover {
    transform: scale(1.2);
    color: #f1c40f;
}

main {
    padding: 20px;
}

.contenido {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.imagen-apartado {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.boton-volver {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.boton-volver:hover {
    background-color: #2980b9;
}